<div id="<%= dom_id user_role %>">
  <p>
    <strong>Primary user:</strong>
    <%= user_role.primary_user %>
  </p>

  <p>
    <strong>Privilege:</strong>
    <%= user_role.privilege %>
  </p>

</div>
