<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Status:</strong>
    <%= enrollment.status %>
  </p>

  <p>
    <strong>Waitlist position:</strong>
    <%= enrollment.waitlist_position %>
  </p>

</div>
